@import "../abstracts/mixins";

.body-page {
  font-family: "Raleway", sans-serif;
  overflow: hidden;

  &.blur {
    z-index: -1;
  }

  &.blur::after {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }

  &_back {
    background-image: url("../img/medical-desk-arrangement-blue-cement-background.jpeg");
    background-size: cover;
    width: 100%;
    max-height: 100vh;
    margin: 0 auto;
  }
}