@import "../abstracts/mixins";

.filter {
  position: relative;
  @include flex(center, center, column);
  margin-left: auto;
  border-top: 1px solid rgb(179, 179, 179);
  width: 250px;
}

.filter__open-box {
  @include flex(center, center, row);
  width: 100%;
  border-bottom: 1px solid rgb(181, 181, 181);
  background-color: white;
  box-shadow: -5px 5px 10px rgba($color: #000000, $alpha: 0.4);
  padding: 10px 0px;
}

.filter__open-btn {
  cursor: pointer;
  font-size: 20px;
  margin: 4px 0px;
}

.filter__open-icon {
  position: absolute;
  top: 9px;
  right: 70px;
  font-size: 25px;
  transform: rotate(180deg);
}
.filter__open-icon.open {
  position: absolute;
  top: 16px;
  right: 70px;
  font-size: 25px;
  transform: rotate(0deg);
}

.filter__form {
  position: absolute;
  bottom: -125px;
  padding-top: 30px;
  width: 100%;
  padding: 10px;
  background-color: white;
  box-shadow: -5px 5px 10px rgba($color: #000000, $alpha: 0.4);
  display: none;
  opacity: 0;
  transform: translateX(1000px);

  &.open {
    @include flex(end, start, column);
    animation: filter-open 0.2s linear forwards;
  }
  @keyframes filter-open {
    0% {
      opacity: 0;
      transform: translateX(1000px);
    }
    65% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

.filter__search {
  outline: none;
  text-align: center;
  border: 1px solid rgb(201, 201, 201);
  transition: 0.2s;
  padding: 5px 10px 5px 3px;
  margin-bottom: 20px;

  &:focus {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  }
}

.filter__priority {
  margin-left: 2px;
  margin-bottom: 10px;
}
