.footer-page {
  display: flex;
  justify-content: center;
  align-items: end;
  background: rgb(8, 49, 102);
}

.footer-page__logo {
  font-size: 20px;
  font-weight: 700;
  color: white;
  margin: 5px 0px;
}
