@import "../abstracts/mixins";
.header-page {
  background: rgb(255, 255, 255);
  box-shadow: 0px 4px 10px rgba($color: #000000, $alpha: 0.5);
}

.header-page__notification_banner {
  @include flex(start, center, row);
  padding: 10px 30px;
  background-color: rgb(14, 83, 172);
}

.header-page__info {
  fill: white;
  margin-right: 10px;
}

.header-page__notification {
  font-size: 17px;
  color: white;
  margin: 0;
}
