@import "../abstracts/mixins";

.login-modal {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  @include flex(center, start, row);
  z-index: 1;
  width: 600px;
  height: 250px;
  opacity: 0;

  &.appr {
    animation: appr 0.2s linear forwards;
  }
  @keyframes appr {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

.login-modal__img-box {
  overflow: hidden;
  border-bottom-left-radius: 20px;
}

.login-modal__form {
  position: relative;
  @include flex(start, start, column);
  background-color: rgb(235, 235, 235);
  padding: 0px 100px 0px 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 100%;
}

.login-modal__email_label {
  margin-top: 30px;
}

.login-modal__email {
  outline: none;
  border: 1px solid rgb(175, 175, 175);
  &:focus {
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2);
  }
}

.login-modal__pass_label {
  margin-top: 20px;
}

.login-modal__pass {
  outline: none;
  border: 1px solid rgb(175, 175, 175);

  &:focus {
    box-shadow: 3px 3px 10px rgba($color: #000000, $alpha: 0.2);
  }
}

.login-modal__submit {
  margin-top: 50px;
}

.login-modal__submit {
  cursor: pointer;
  font-size: 20px;
  background-color: rgb(21, 139, 194);
  color: white;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
  transition: 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}

.login-modal__close {
  @include flex(center, center, row);
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 4px;
  background-color: inherit;
  transition: 0.2s;
  width: 20px;
  height: 20px;

  &:hover {
    box-shadow: 3px 3px 7px rgba($color: #000000, $alpha: 0.3);
  }
  &:active {
    transform: scale(0.95);
  }
}

.login-modal__close_icon {
  fill: black;
  width: 15px;
  height: 15px;
}
