@import "../abstracts/mixins";

.navbar {
  @include flex(space-between, center, row);
  padding: 20px 0px;
}

.navbar__logo_link {
  margin: 0px 0px;
  margin-left: 100px;
}

.navbar__login-box {
  @include flex(center, center, row);
}

.navbar__logo {
  position: absolute;
  top: 8%;
  width: 200px;
  height: 100px;
}

.navbar__login {
  margin-right: 100px;
  font-size: 15px;
  color: black;
  margin-left: 10px;
}
